 body {
     font-family: Poppins;
     margin: 0;
     padding: 0;
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
 }


 .row {
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
 }


 .login-button {
     display: block;
     width: 100%;
     margin: 0 auto;
     padding: 12px;
     background-color: #4f46e5;
     color: #fff;
     font-size: 15px;
     font-weight: bold;
     border: none;
     border-radius: 8px;
     cursor: pointer;
     transition: background-color 0.2s ease;
     margin-top: 20px;
 }


 .login-container {
     width: 423px;
     max-width: 90%;
     padding: 40px 35px;
     background: #fff;
     border-radius: 16px;
     box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
     transition: box-shadow 0.3s ease, transform 0.3s ease;

 }

 .login-container h2 {
     font-size: 26px;
 }


 .login-form h1 {
     font: size 10px;
 }

 .email-input {
     display: flex;
     width: 100%;
     padding: 10px;
     margin: 10px 0;
     border: 1px solid #ccc;
     border-radius: 5px;
     font-family: Poppins;
     font-weight: 600;
     font-size: 16px;
     outline: none;
     padding-right: 10px;

 }

 .password-input {
     display: flex;
     width: 100%;
     padding: 10px;
     margin: 10px 0;
     border: 1px solid #ccc;
     border-radius: 5px;
     font-family: Poppins;
     font-weight: 600;
     font-size: 16px;
     outline: none;
 }

 .register {
     display: flex;
     align-items: center;
     gap: 9px;
     justify-content: center;
 }

 .form-options {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin: 0.8rem 0;
     font-size: 0.9rem;
 }

 .password-wrapper {
     position: relative;
 }

 .toggle-password {
     position: absolute;
     top: 37%;
     right: -20px;
     transform: translate(-50%);
     cursor: pointer
 }

 .toggle-password-icon {
     width: 20px;
     height: 20px;
     fill: #4f46e5;
 }

 .logout-button {
     padding: 10px 20px;
     background-color: #ff5e5e;
     color: white;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     margin-top: 10px;
     width: 100%;
     font-family: Poppins;
     font-size: 12px;
 }


 